:root {
  --purple-color: #c3b3d3;
  --grey-color: #d3d3d3;
  --white-color: #fff;
  --black-color: #272a31;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
}

/* ******* header section ******* */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex !important;
}

.nav-mobile {
  width: 100%;
  height: 100vh;
  background-color: rgb(196, 180, 212);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.nav-mobile .cross {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  cursor: pointer;
}

.nav-mobile .container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100%;
  padding-right: 100px;
}

.bottom-nav li a {
  color: var(--black-color);
  text-decoration: none;
}

.nav-mobile .container li a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 2em;
}

.main-nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-nav .icon-nav {
  height: 72px;
  display: none;
}

.carousel-inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-nav .icon-nav img {
  height: 100%;
  object-fit: cover;
}

.main-nav .icon-menu-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bottom-nav {
  list-style-type: none;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.bottom-nav li {
  color: var(--black-color);
}

.bottom-nav button {
  padding: 8px;
  background-color: transparent;
  border: 5px solid var(--red-color);
  color: var(--red-color);
}

/* ******* banner section ******* */

/* banner */
.banner {
  padding: 3em 0 3em 0;
  text-align: center;
  width: 100%;
  background-image: url('images/Western_Wall.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.143);
}

.border {
  width: 60%;
  margin: 0 auto;
  height: 57px;
  border: 2px solid #c3b3d3;
  border-bottom: 0;
}

.banner h2 {
  margin: 0;
  font-size: 1.5em;
  color: #c3b3d3;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.725);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding: 0.5em 5px 0 20px;
  font-family: 'Open Sans', sans-serif;
}

.banner p {
  color: #273a33;
  text-transform: uppercase;
  font-size: 1.1em;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.725);
  font-weight: bold;
  margin: 1em 0 0 0;
  line-height: 2em;
  letter-spacing: 2px;
  padding: 0 16px 0 16px;
  font-family: 'Open Sans', sans-serif;
}

.border-bottom {
  border-top: 0;
  border-bottom: 2px solid #c3b3d3;
}

/* ******* King Image ******* */
.king {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  width: 100%;
}

.king-letters {
  text-align: center;
  filter: invert(74%) sepia(8%) saturate(643%) hue-rotate(228deg) brightness(100%) contrast(90%);
}

img.king-yeshua {
  max-width: 75%;
  width: 100%;
}

/* ******* carousel ******* */
.carousel {
  position: relative;
  width: 100vw;
  height: 75vh;
}

.carousel-inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-inner img.active {
  display: block;
}

.carousel-inner img:not(.active) {
  display: none;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* ******* video link ******* */
.video-container {
  position: relative;
  width: 100%;
  height: 75vh;
  background-size: cover;
  overflow: hidden;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image {
  height: 100%;
}

.video-overlay video {
  max-width: 80%;
  height: 70%;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ******* footer ******* */
#footer {
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: center;
}

#footer .footer-logo {
  width: 100px;
}

#footer .footer-logo img {
  width: 100%;
  border-radius: 20px;
}

#footer .footer-content p {
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 15px;
  padding-right: 15px;
  color: var(--black-color);
}

/* ******* desktop version ******* */
@media all and (min-width: 768px) {
  /* home page  */

  /* header  */
  .main-nav .icon-nav,
  .main-nav .bottom-nav {
    display: flex;
  }

  .main-nav .icon-menu-mobile {
    display: none;
  }

  .nav-mobile {
    display: none !important;
  }

  /* banner */
  .banner h2 {
    font-size: 5.5em;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.725);
  }

  .banner p {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.725);
  }

  .banner {
    padding: 5em 0 5em 0;
    text-align: center;
    width: 100%;
    background-image: url('images/Western_Wall.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.143);
  }

  .border {
    width: 60%;
    margin: 0 auto;
    height: 47px;
    border: 3px solid #c3b3d3;
    border-bottom: 0;
  }

  .border-bottom {
    border-top: 0;
    border-bottom: 3px solid #c3b3d3;
  }

  /* footer */
  #footer {
    display: flex;
  }

  .about-footer .footer-content p {
    color: var(--black-color);
  }
}

@media only screen and (max-width: 767px) {
  #footer {
    display: none;
  }
}
