:root {
  --purple-color: #c3b3d3;
  --grey-color: #d3d3d3;
  --white-color: #fff;
  --black-color: #272a31;
  --charcoal-grey: #404040;
  --Turquoise: #3cc;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
}

/* ******* header section ******* */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex !important;
}

.nav-mobile {
  width: 100%;
  height: 100vh;
  background-color: rgb(196, 180, 212);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* change color of menu icon */
.icon-menu-mobile img {
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(66%) contrast(66%);
  height: 66%;
  object-fit: cover;
  padding-bottom: 15px;
}

.main-nav .icon-nav img {
  height: 100%;
  object-fit: cover;
}

.nav-mobile .cross img {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 30px;
  height: auto;
  cursor: pointer;
  object-fit: cover;
}

.nav-mobile .container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100%;
  padding-right: 73px;
}

h1,
p,
a {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Transitions/Animations- increase font size  */
.bottom-nav a {
  position: relative;
  padding-bottom: 5px;
}

.bottom-nav li a {
  color: var(--black-color);
  text-decoration: none;
}

.links li a {
  text-transform: uppercase;
  color: #777;
  text-decoration: none;
  font-size: 16px;
}

.bottom-nav a:hover {
  color: #707070;
  cursor: pointer;
  transform: scale(1.15);
  font-size: 1.3em;
}

.nav-mobile .container li a {
  text-decoration: none;
  color: #404040;
  font-size: 2em;
}

/* end of transition */

/* Transitions/Animation- Adds a hover effect animating a line */
.bottom-nav a::before,
.bottom-nav a::after {
  content: '';
  width: 100%;
  transform-origin: bottom;
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  background-color: #c3b3d3;
  height: 3px;
  bottom: 1px;
  right: 0;
  position: absolute;
}

.bottom-nav a:hover::before,
.bottom-nav a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.bottom-nav a:hover::after {
  transition-delay: 0.2s;
}

/* end of transition */

.main-nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.main-nav .icon-nav {
  height: 72px;
  display: none;
}

/* move mobile menu to the right */
.icon-menu-mobile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-nav .icon-menu-mobile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bottom-nav {
  list-style-type: none;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.bottom-nav li {
  color: var(--black-color);
}

.bottom-nav button {
  padding: 8px;
  background-color: transparent;
  border: 5px solid var(--red-color);
  color: var(--red-color);
}

/* ******* banner ******* */

.header h1 {
  font-size: 2.8em;
  padding: 10px 0;
  font-weight: 800;
}

.header p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 5px;
}

.header {
  width: 100%;
  padding: 60px 0;
  text-align: center;
  background: #33ccccc8;
  color: white;
}

.btn-action {
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px;
}

.btn-action:hover {
  background-color: white;
  color: #c3b3d3;
}

/* ******* about section ******* */

/* about section */
.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f4f4f4;
  padding: 25px 25px 25px 25px;
  min-height: 100vh;
  width: 85vw;
  margin: 0 auto;
  margin-top: 15px;
}

.image {
  background-image: url("images/anna-cartoon.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.content {
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 6px;
  opacity: 0.9;
  padding-top: 15px;
}

.content span {
  height: 0.5px;
  width: 80px;
  background: #777;
  margin: 30px 0;
}

.content p {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.7;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
}

.links {
  margin: 15px 0;
}

.links li {
  border: 0.5px solid #777;
  list-style: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 160px;
  text-align: center;
}

.links li:hover {
  border-color: #3cc;
}

.links li:hover a {
  color: #3cc;
}

.vertical-line {
  height: 30px;
  width: 0.5px;
  background: #777;
  margin: 0 auto;
}

/* mobile version */

@media (max-width: 992px) {
  .about-section {
    grid-template-columns: 1fr;
    width: 90%;
    padding: 10px 10px 10px 10px;
  }

  .image {
    height: 100vh;
    width: 100%;
    align-content: center;
  }

  .content {
    padding-bottom: 40px;
  }

  .content p {
    font-size: 16px;
    width: 75%;
  }

  .content h2 {
    font-size: 25px;
    margin-top: 50px;
    padding-top: 0;
  }

  .content span {
    margin: 20px 0;
  }

  .links li a {
    font-size: 16px;
  }

  .links {
    margin: 5px 0;
  }

  .links li {
    padding: 6px 10px;
  }

  .icons li i {
    font-size: 15px;
  }
}

/* ******* contact us ******* */

.title {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #dfe1e6;
}

.contact {
  background-color: #fff;
  padding-top: 15px;
}

.contact .input-field {
  border: none;
  margin: 0 28px 15px 7px;
}

.container-contact {
  background-color: #33ccccc8;
  color: #fff;
  padding: 10px;
  background-size: contain;
  padding-bottom: 100px;
}

.contact .title {
  margin-top: 103px;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contact-descrip {
  text-align: center;
  background: #33cccc0d;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0;
  padding: 10px;
  line-height: 28px;
}

.slect-form {
  margin: 0 auto;
  padding: 14px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  margin: 14px 0;
  font-size: 17px;
  padding: 10px;
  color: #172b4d;
  line-height: 20px;
}

.input-form:focus {
  border: 1px solid #b3bac5;
}

.text-form {
  border: 1px solid #fff;
  border-radius: 5px;
  min-height: 140px;
  padding: 10px;
  margin: 5px 0;
  color: #b3bac5;
  font-family: 'Poppins', sans-serif;
  line-height: 20px;
  width: 100%;
  font-size: 17px;
}

.submit-button {
  border: 1px solid #fff;
  align-self: flex-start;
  border-radius: 5px;
  margin: 7px 0;
  color: #707070;
  font-size: 17px;
  line-height: 24px;
  padding: 10px 58px;
}

.submit-button:hover {
  background: #c3b3d3;
  color: #fff;
}

@media all and (min-width: 768px) {
  /* contact us */

  .wrap-contact {
    max-width: 500px;
    margin: 0 auto;
  }

  .sub-butn-center {
    text-align: center;
    width: 100%;
  }
}

/* contact validation */

.error {
  font-weight: bold;
}

/* ******* footer ******* */
#footer {
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: center;
}

#footer .footer-logo {
  width: 100px;
}

#footer .footer-logo img {
  width: 100%;
  border-radius: 20px;
}

#footer .footer-content p {
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 15px;
  padding-right: 15px;
  color: var(--black-color);
}

/* ******* desktop version ******* */
@media all and (min-width: 768px) {
  /* home page  */

  /* header  */
  .main-nav .icon-nav,
  .main-nav .bottom-nav {
    display: flex;
  }

  .main-nav .icon-menu-mobile {
    display: none;
  }

  .nav-mobile {
    display: none !important;
  }

  /* footer */
  #footer {
    display: flex;
  }

  .about-footer .footer-content p {
    color: var(--black-color);
  }
}

@media only screen and (max-width: 767px) {
  #footer {
    display: none;
  }
}
