:root {
  --purple-color: #c3b3d3;
  --grey-color: #d3d3d3;
  --white-color: #fff;
  --black-color: #272a31;
  --charcoal-grey: #404040;
  --Turquoise: #3cc;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
}

/* ******* header section ******* */
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex !important;
}

.nav-mobile {
  width: 100%;
  height: 100vh;
  background-color: rgb(196, 180, 212);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* change color of menu icon */
.icon-menu-mobile img {
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(333deg) brightness(66%) contrast(66%);
  height: 66%;
  object-fit: cover;
  padding-bottom: 15px;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.yeshua-title-icon img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 50%;
}

.abba-title-icon img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 45%;
}

.main-nav .icon-nav img {
  height: 100%;
  object-fit: cover;
}

.nav-mobile .cross img {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 30px;
  height: auto;
  cursor: pointer;
  object-fit: cover;
}

.nav-mobile .container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 100%;
  padding-right: 73px;
}

/* Transitions/Animations- increase font size  */
.bottom-nav a {
  position: relative;
  padding-bottom: 5px;
}

.bottom-nav li a {
  color: var(--black-color);
  text-decoration: none;
}

.bottom-nav a:hover {
  color: #707070;
  cursor: pointer;
  transform: scale(1.15);
  font-size: 1.3em;
}

.nav-mobile .container li a {
  text-decoration: none;
  color: #404040;
  font-size: 2em;
}

/* end of transition */

/* Transitions/Animation- Adds a hover effect animating a line */
.bottom-nav a::before,
.bottom-nav a::after {
  content: '';
  width: 100%;
  transform-origin: bottom;
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  background-color: #c3b3d3;
  height: 3px;
  bottom: 1px;
  right: 0;
  position: absolute;
}

.bottom-nav a:hover::before,
.bottom-nav a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.bottom-nav a:hover::after {
  transition-delay: 0.2s;
}

/* end of transition */

.main-nav {
  height: 72px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.main-nav .icon-nav {
  height: 72px;
  display: none;
}

/* move mobile menu to the right */
.icon-menu-mobile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.main-nav .icon-menu-mobile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bottom-nav {
  list-style-type: none;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.bottom-nav li {
  color: var(--black-color);
}

.bottom-nav button {
  padding: 8px;
  background-color: transparent;
  border: 5px solid var(--red-color);
  color: var(--red-color);
}

/* ******* animation cover image ******* */
#cover-contain {
  overflow: hidden;
  margin: 0;
}

#mainmodal {
  position: relative;
  font-family: Arial, sans-serif;
  top: 0;
  left: 0;
  background-image: url(images/Lion.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 99999;
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modalcontent {
  background: rgba(255, 217, 0, 0.5);
  width: 100vw;
  padding: 50px;
  margin: 0 -50vw;
  margin-top: 20%;
}

.breakingtitle {
  font-size: 50px;
  background: #70707099;
  color: #ffd700;
  padding: 10px;
  display: inline-block;
}

#readmorebutton {
  background: #70707099;
  color: #ffd700;
  border-style: none;
  padding: 20px;
  font-size: 20px;
}

#readmorebutton:hover {
  background-color: rgba(255, 255, 255, 0.295);
  color: #707070;
}

.marquee {
  color: #707070;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 30px;
  font-size: 40px;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 16s linear infinite;
}

@media only screen and (max-width: 767px) {
  .breakingtitle {
    font-size: 30px;
  }

  #readmorebutton {
    padding: 10px;
    font-size: 14px;
  }

  .marquee {
    font-size: 20px;
    padding: 10px;
    animation: none; /* disable animation */
  }

  .modalcontent {
    padding: 20px;
    margin-top: 45%;
  }

  .desktop-text {
    display: none;
  }

  .mobile-text {
    font-size: 20px;
    display: block;
    padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .desktop-text {
    font-size: 35px;
    display: block;
  }

  .modalcontent {
    padding: 28px;
  }

  .mobile-text {
    display: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* opposite side */

/* @keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* ******* header/title ******* */
.header-title {
  justify-content: center;
}

.titlepage {
  padding: 32px;
  padding-top: 20px;
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.title-icon {
  display: flex;
  justify-content: center;
}

.yeshua-title-icon img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 45%;
}

.abba-title-icon img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  width: 45%;
}

.titlepage h2 {
  color: #c3b3d3;
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 0;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

.border-title {
  border: 2.5px solid #c3b3d3;
  width: 66px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .titlepage h2 {
    color: #c3b3d3;
    font-size: 1rem;
  }
}

/* ******* video link ******* */
.video-container {
  position: relative;
  width: 100%;
  height: 75vh;
  background-size: cover;
  overflow: hidden;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-image {
  height: 100%;
}

.video-overlay video {
  max-width: 90%;
  height: 90%;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .video-container {
    height: 45vh;
  }

  .video-overlay video {
    height: 66%;
  }
}

/* ******* video gallery ******* */
.video-gallery-background-container {
  background-image: url(images/8_Biblical\ Text.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.video-gallery-contain {
  position: relative;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 50px;
  padding-left: 65px;
  padding-top: 66px;
  padding-bottom: 45px;
}

.video-card {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.video-card video {
  width: 100%;
  height: auto;
}

/* video gallery titles */
.video-gallery-title {
  background-color: #272a31;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
  padding: 15px;
}

@media (max-width: 768px) {
  .video-gallery-background-container {
    background-image: url(images/8_Biblical\ Text.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .gallery-container {
    padding: 25px;
    padding-right: 5px;
  }

  .video-card {
    width: calc(100% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .video-gallery-title {
    font-size: 15px;
  }
}

/* ******* color banner ******* */
.color-banner {
  padding-top: 50px;

  /* background-color: #bb9c7f; */
  background-color: #272a31;
}

@media (max-width: 768px) {
  .color-banner {
    padding-top: 39px;
  }
}

/* ******* scrolling window with image ******* */
.scroll-container {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: 600;
  color: #fff;
  overflow: hidden;
  background-color: transparent;
  position: relative;
}

.scroll-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(39, 42, 49, 0.7), rgba(39, 42, 49, 0.7)), url('images/8_Biblical Text.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.scroll-content {
  margin: 0 auto;
  height: 13.5em;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scroll-list,
.scroll-item {
  height: 13.5em;
  margin: 0;
  padding: 0;
  width: 100%;
}

.scroll-item {
  list-style-type: none;
  margin: 0 0 1px 0;
  height: 1em !important;
  padding: 0 0 0 0;
  font-size: 3em;
  text-transform: uppercase;
  width: 100%;
}

.scroll-list {
  animation-name: titleflip;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-name: titleflip;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
}

@keyframes titleflip {
  0%,
  20% {
    transform: translate(0, -12.5em);
  }

  20%,
  40% {
    transform: translate(0, -9.375em);
  }

  40%,
  60% {
    transform: translate(0, -6.44em);
  }

  60%,
  80% {
    transform: translate(0, -3.44em);
  }

  80%,
  100% {
    transform: translate(0, -0.315em);
  }

  100%,
  0% {
    transform: translate(0, -12.5em);
  }
}

@-webkit-keyframes titleflip {
  0%,
  20% {
    transform: translate(0, -12.5em);
  }

  20%,
  40% {
    transform: translate(0, -9.375em);
  }

  40%,
  60% {
    -webkit-transform: translate(0, -6.44em);
  }

  60%,
  80% {
    transform: translate(0, -3.44em);
  }

  80%,
  100% {
    transform: translate(0, -0.315em);
  }

  100%,
  0% {
    transform: translate(0, -12.5em);
  }
}

@media only screen and (max-width: 768px) {
  .scroll-content {
    height: 6em;
  }

  .scroll-item {
    font-size: 2em;
  }
}

/* ******* footer ******* */
#footer {
  display: none;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  align-items: center;
}

#footer .footer-logo {
  width: 100px;
}

#footer .footer-logo img {
  width: 100%;
  border-radius: 20px;
}

#footer .footer-content p {
  font-weight: 600;
  text-transform: capitalize;
  padding-top: 15px;
  padding-right: 15px;
  color: var(--black-color);
}

/* ******* desktop version ******* */
@media all and (min-width: 768px) {
  /* home page  */

  /* header  */
  .main-nav .icon-nav,
  .main-nav .bottom-nav {
    display: flex;
  }

  .main-nav .icon-menu-mobile {
    display: none;
  }

  .nav-mobile {
    display: none !important;
  }

  /* footer */
  #footer {
    display: flex;
  }

  .about-footer .footer-content p {
    color: var(--black-color);
  }
}

@media only screen and (max-width: 767px) {
  #footer {
    display: none;
  }
}
